.videoSidebar {
    position: absolute;
    top: 35%;
    right: 10px;
    color: #FFF;
    z-index: 50;
}

.videoSidebar__options {
    padding: 10px;
    text-align: center;
    
}

@media only screen and (min-width: 440px){
    .videoSidebar {
        top: 46%;
        
    }
}